/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 2px dashed red;
}

/* Doodle Stage */
#stage {
  background: tan;
  height: 300px;
  width: 600px;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}