/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
  
  position: relative;
  overflow: hidden;
}

h1 {
  color: white;
  position: absolute;
  right: 165px;
  top: 115px;
  font-family: 'Raleway', sans-serif;
}

.guitar {
  width: 800px;
  height: 500px;
  
  position: absolute;
  right: 200px;
  bottom: -100px;
}

.notes {
  opacity: 0;
}
